.tableaux{
    color: #e3e3e5 ;
}

.corpsTableaux{
}

.textCenter{
    text-align: center;
    width: 30%;
}

#resultatChmp table td th {
    text-align: center;
}

.chmpFFT_w40 {
    width: 40%;
}

.w20 {
    width: 20%;
}

.txtCenter {
    text-align: center;
}