.chmpFFT_txtCenter {
    text-align: center;
}
.chmpFFT_txtLeft {
    text-align: left;
}
.chmpFFT_txtRight {
    text-align: right;
}
.chmpFFT_w50 {
    width: 50%;
}
.chmpFFT_w40 {
    width: 40%;
}
.chmpFFT_w20 {
    width: 20%;
}
.chmpFFT_w100 {
    width: 100%;
}
.chmpFFT_margin_bottom {
    margin-bottom: 0px;
}
.chmpFFT_background-color_bleuNuit {
    background-color: #1c2230;
}
.chmpFFT_background-color_grisClair {
    background-color: #e3e3e5;
}
.chmpFFT_text-color_grisClair {
    color: #e3e3e5;
}
.chmpFFT_text-color_bleuNuit {
    color: #1c2230;
}
.chmpFFT_border-radius_20 {
    border-radius: 20px;
}
.chmpFFT_border-radius_15 {
    border-radius: 15px;
}
.chmpFFT_overflow {
    overflow: auto;
}
.chmpFFT_max_width {
    max-width: 100%;
}